body{
	background: rgb(69, 69, 69);
}

/*логотип*/

.top{
	height: 120px;
	width: 100%;
}

.top > .logo-text{
	text-align: center;
}

.logo-text > .title_window{
	text-transform: capitalize;
	color: #00fcff;
}

.top > .buttons{
	margin-left: 1000px;
	height: 200px
	width: 50%;
}

/*кнопка для входа*/ 

a.enter {
    display: inline-block;
  	font-size: 24px;
  	font-weight: bold;
  	color: rgba(255,255,255,.6);
  	text-shadow: 1px 1px rgba(0,0,0,.3);
  	text-decoration: none;
  	padding: 20px;
  	border-radius: 15px;
  	background: rgb(1, 148, 141);
  	box-shadow:
   	inset 0 0 3px 1px rgba(0,0,0,.8),
   	inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   	inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   	1px 1px 1px rgba(255,255,255,.1),
   	-2px -2px 5px rgba(0,0,0,.5);
  	transition: .2s;
}

a.enter:hover {
  color: rgba(255,255,255,.9);
  background: #00fcff;
}
a.enter:active {
  background: white;
  box-shadow:
   inset 0 0 5px 3px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.2),
   -2px -2px 5px rgba(0,0,0,.5);
}

/*кнопки для регистрации*/

a.sign_up {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  color: rgba(255,255,255,.6);
  text-shadow: 1px 1px rgba(0,0,0,.3);
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  background: rgb(1, 148, 141);
  box-shadow:
   inset 0 0 3px 1px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.1),
   -2px -2px 5px rgba(0,0,0,.5);
  transition: .2s;
}
a.sign_up:hover {
  color: rgba(255,255,255,.9);
  background: #00fcff;
}
a.sign_up:active {
  background: white;
  box-shadow:
   inset 0 0 5px 3px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.2),
   -2px -2px 5px rgba(0,0,0,.5);
}

.mid{
	height: 400px;
	width: 100%;
}

.information{
	margin: auto;
    border: 1px solid #00fcff;
    margin-top: 4%;
    border-radius: 10px;
    background: #444443;
    box-shadow: rgba(0, 0, 0, .5) 3px 10px 10px 10px;
	height: 300px;
	width: 40%;
	margin-left: 30%;
}

.information > .title_information{
	color: #00fcff;
	margin-bottom: 3px;
	text-align: center;
	text-transform: capitalize;
}

/*кнопка для перехода к таблице рейтинга*/

a.rating {
  display: inline-block;
  margin-left: 12%;
  margin-bottom: 3px;
  margin-top: 6px;
  width: 72%;
  height: 70px;
  text-align: center; 
  font-weight: bold;
  color: rgba(255,255,255,.6);
  text-shadow: 1px 1px rgba(0,0,0,.3);
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  background: rgb(1, 148, 141);
  box-shadow:
   inset 0 0 3px 1px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.1),
   -2px -2px 5px rgba(0,0,0,.5);
  transition: .2s;
}
a.rating:hover {
  color: rgba(255,255,255,.9);
  background: #00fcff;
}
a.rating:active {
  background: white;
  box-shadow:
   inset 0 0 5px 3px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.2),
   -2px -2px 5px rgba(0,0,0,.5);
}

/*кнопка для перехода к информации по сайту*/

a.information-text {
  display: inline-block;
  margin-left: 12%;
  margin-top: 6px;
  width: 72%;
  height: 70px;
  text-align: center;
  font-weight: bold;
  color: rgba(255,255,255,.6);
  text-shadow: 1px 1px rgba(0,0,0,.3);
  text-decoration: none;
  padding: 20px;
  border-radius: 15px;
  background: rgb(1, 148, 141);
  box-shadow:
   inset 0 0 3px 1px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.1),
   -2px -2px 5px rgba(0,0,0,.5);
  transition: .2s;
}
a.information-text:hover {
  color: rgba(255,255,255,.9);
  background: #00fcff;
}
a.information-text:active {
  background: white;
  box-shadow:
   inset 0 0 5px 3px rgba(0,0,0,.8),
   inset rgba(0,0,0,.3) -5px -5px 8px 5px,
   inset rgba(255,255,255,.5) 5px 5px 8px 5px,
   1px 1px 1px rgba(255,255,255,.2),
   -2px -2px 5px rgba(0,0,0,.5);
}

.bot{
	height: 100px;
	width: 100%;
}

.bot > .help{
	text-align: center;
	margin-bottom: 70px;
	color: #00fcff;
}